@import 'ng-zorro-antd/ng-zorro-antd.less';

// Override Ant Design variables
@primary-color: #8732fb;
@link-color: #8732fb;
@success-color: #52c41a;
@warning-color: #faad14;
@error-color: #ff4d4f;

// layout header
@layout-header-background: #ffffff;
@layout-header-height: 64px;
@layout-header-padding: 0 24px;

// layout footer
@layout-footer-background: #121619;

.ant-layout-footer {
  color: #868e96;

  h1, h2, h3, h4, h5, h6 {
    color: inherit;
  }

}

/* Set global border radius */
@border-radius-base: 12px;   /* default radius for buttons, inputs, etc */
@border-radius-sm: 8px;      /* small components */
@border-radius-lg: 16px;     /* large components */

/* Card specific radius */
@card-radius: 42px;

@font-size-base: 14px;

// Optional: nicer hover/active
@primary-color-hover: #9b52fc;
@primary-color-active: #761fe2;

